<%= form_with(model: room, local: true) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2 class="error_explanation"><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li class="error_explanation"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <th></th>
      <th></th>
    </tr>

    <tr>
      <td> <%= form.label :name %> </td>
      <td> <%= form.text_field :name %> </td>
    </tr>

    <tr>
      <td> <%= form.label :layout_file_path %> </td>
      <td> <%= form.text_field :layout_file_path %> </td>
    </tr>
  </table>

  <div class="actions">
    <%= form.submit "Submit", :class => "btn btn-outline-success minebtn btn-sm"%> &nbsp <%= link_to 'Back to rooms', rooms_path, :class => "btn btn-outline-danger minebtn btn-sm" %>
  </div>
<% end %>
