<p id="notice"><%= modified_notice %></p>

<h1>Rooms</h1>

<table class="table table-stripped table-hover index indexborder">
  <thead>
    <tr>
    <th class="index"><%= sort_link "name" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td align = "right">
          <%= link_to(raw('<span class="fa fa-eye"></span>'), room, :class => "btn btn-outline-secondary minebtn btn-sm") %> 
          &nbsp;
          <%= link_to(raw('<span class="fa fa-times"></span>'), room, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-danger minebtn btn-sm") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path, :class => "btn btn-outline-success minebtn btn-sm" %>
