<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Layout file path:</strong>
  <%= @room.layout_file_path %>
</p>

<table>
  <thead>
    <tr>
      <th> Pos. x </th>
      <th> Pos. y </th>
      <th> Type of seat </th>
    </tr>
  </thead>

  <tbody>
    <% @seats.each do |seat| %>
      <tr>
        <td><%= seat.pos_x %></td>
        <td><%= seat.pos_y %></td>
        <td><%= seat.type_of_seat %></td>
      </tr>
    <% end %>
  </tbody>
</table>


Chuj

<%= @plan %>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
