<p id="notice"><%= modified_notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>


<table bgcolor="#303030">
  <tbody>
    <% @plan.length.times do |i| %>
      <tr>
      <% @plan[i].length.times do |j| %>
          <% if @plan[i][j] == 1 %>
            <td> <%= image_tag ("seat-plain.png"), style:"height: 50%; width: 50%;" %> </td>
          <% else %>
            <td>  </td>
          <% end %>
      <% end %>
      </tr>
    <% end %>
    <tr bgcolor="#41B0FF"> 
      <td colspan="10"> <center> SCREEN </center> </td>
    </tr>
  </tbody>
</table>

</br>

<%= link_to 'Edit', edit_room_path(@room), :class => "btn btn-outline-warning minebtn btn-sm" %> &nbsp;
<%= link_to 'Back', rooms_path, :class => "btn btn-outline-danger minebtn btn-sm" %>
