<%= form_with(model: reserved_seat, local: true) do |form| %>
  <% if reserved_seat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reserved_seat.errors.count, "error") %> prohibited this reserved_seat from being saved:</h2>

      <ul>
      <% reserved_seat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reservation_id %>
    <%= form.collection_select :reservation_id, @reservations, :id, :id, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :seat_id %>
    <%= form.collection_select :seat_id, @seats, :id, :id, include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
