<p id="notice"><%= notice %></p>

<p>
  <strong>Reservation:</strong>
  <%= @reserved_seat.reservation_id %>
</p>

<p>
  <strong>Seat:</strong>
  <%= @reserved_seat.seat_id %>
</p>

<p>
  <strong>Seat pos.X:</strong>
  <%= @reserved_seat.seat.pos_x %>
</p>

<p>
  <strong>Seat pos.Y:</strong>
  <%= @reserved_seat.seat.pos_y %>
</p>

<%= link_to 'Back', reserved_seats_path %>
