<p id="notice"><%= notice %></p>

<p>
  <strong>Reservation:</strong>
  <%= @reserved_seat.reservation_id %>
</p>

<p>
  <strong>Seat:</strong>
  <%= @reserved_seat.seat_id %>
</p>

<%= link_to 'Edit', edit_reserved_seat_path(@reserved_seat) %> |
<%= link_to 'Back', reserved_seats_path %>
