<%= form_with(model: screening, local: true) do |form| %>
  <% if screening.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(screening.errors.count, "error") %> prohibited this screening from being saved:</h2>

      <ul>
      <% screening.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <th></th>
      <th></th>
    </tr>

    <tr>
      <td> <%= form.label :movie_id %> </td>
      <td> <%= form.collection_select :movie_id, @movies, :id, :title, include_blank: true %> </td>
    </tr>

    <tr>
      <td> <%= form.label :room_id %> </td>
      <td> <%= form.collection_select :room_id, @rooms, :id, :name, include_blank: true %> </td>
    </tr>
    

    <tr>
      <td> <%= form.label :date %> </td>
      <td> <%= form.datetime_select :date %> </td>
    </tr>
  </table>
    
  <%= form.submit "Submit", :class => "btn btn-outline-success minebtn btn-sm" %> &nbsp; <%= link_to 'Back', screenings_path, :class => "btn btn-outline-danger minebtn btn-sm" %>

<% end %>
