<p id="notice"><%= notice %></p>

<p>
  <strong>Movie:</strong>
  <%= @screening.movie.title %>
</p>

<p>
  <strong>Room:</strong>
  <%= @screening.room.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @screening.date %>
</p>

<%= link_to 'Edit', edit_screening_path(@screening), :class => "btn btn-outline-warning minebtn btn-sm" %> |
<%= link_to 'Back', screenings_path, :class => "btn btn-outline-danger minebtn btn-sm" %>
