<p id="notice"><%= notice %></p>

<p>
  <strong>Movie:</strong>
  <%= @screening.movie.title %>
</p>

<p>
  <strong>Room:</strong>
  <%= @screening.room.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @screening.date %>
</p>

<%= link_to 'Edit', edit_screening_path(@screening) %> |
<%= link_to 'Back', screenings_path %>
