<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <th></th>
      <th></th>
    </tr>

    <tr>
      <td> <%= form.label :title %> </td>
      <td> <%= form.text_field :title %> </td>
    </tr>

    <tr>
      <td> <%= form.label :director %> </td>
      <td> <%= form.text_field :director %> </td>
    </tr>

    <tr>
      <td> <%= form.label :country_of_origin %> </td>
      <td> <%= form.text_field :country_of_origin %> </td>
    </tr>

    <tr>
      <td> <%= form.label :length %> </td>
      <td> <%= form.number_field :length %> </td>
    </tr>

    <tr>
      <td> <%= form.label :poster_link %> </td>
      <td> <%= form.text_field :poster_link %> </td>
    </tr>

    <tr>
      <td> <%= form.label :description %> </td>
      <td> <%= form.text_area :description %> </td>
    </tr>
  </table>

  <div class="actions">
    <%= form.submit "Submit", :class => "btn btn-outline-success minebtn btn-sm" %> &nbsp; <%= link_to 'Back', movies_path, :class => "btn btn-outline-danger minebtn btn-sm" %>
  </div>
<% end %>
