<p id="notice"><%= modified_notice %></p>

<h1>Movies</h1>

<table class="table table-stripped table-hover index indexborder">
  <thead>
    <tr>
      <th class="index"><%= sort_link "title" %></th>
      <th class="index"><%= sort_link "director" %></th>
      <th class="index"><%= sort_link "length" %></th>
      <th class="index"><%= sort_link "poster_link", "Poster" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.director %></td>
        <td><%= movie.length %></td>
        <td><%= image_tag movie.poster_link, :height => 50, :crop => "pad" %></td> 
        <td align = "right">
          <%= link_to 'Show', movie, :class => "btn btn-outline-secondary minebtn btn-sm" %>
          &nbsp; 
          <% if current_user != nil && current_user.admin? %>
            <%= link_to 'Edit', edit_movie_path(movie), :class => "btn btn-outline-warning minebtn btn-sm" %>
            &nbsp;
            <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-danger minebtn btn-sm" %>
          <% end %>
          <% if current_user != nil && current_user.user? %>
            <%= link_to(raw('<span class="fa fa-star"></span>') ,{:controller => "favourite_movies", :action => "favourite", :current_movie_id => movie.id}, method: :put, :class => "btn btn-outline-warning minebtn btn-sm") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if !current_user.nil? && current_user.admin? %>
  <%= link_to 'New Movie', new_movie_path, :class => "btn btn-outline-success minebtn btn-sm" %>
<% end %>
