<!DOCTYPE html>
<html>
  <head>

    <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Font Awesome -->
      <link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> 
  

    <title>KinoRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if content_for?(:navbar) %>
        <%= yield(:navbar) %>
      <% else %>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <span class="fa fa-film"></span> &nbsp; 
          <a class="navbar-brand" href="/pages/home">KinoRails</a> &nbsp; &nbsp; &nbsp; &nbsp; 

          <ul class="navbar-nav mr-auto">
          </ul>

          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to "Movies", movies_url, :class => 'navbar-link' %>
            </li>
          </ul>

          <% if current_user != nil && current_user.admin? %>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <%= link_to "Rooms", rooms_url, :class => 'navbar-link'  %>
              </li>
            </ul>
          <% end %>

          <% if current_user != nil && current_user.admin? %>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <%= link_to "Screenings", screenings_url, :class => 'navbar-link'  %>
              </li>
            </ul>
          <% end %>

          <% if current_user != nil %>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <%= link_to "Reservations", reservations_url, :class => 'navbar-link' %>
              </li>
            </ul>
          <% end %>

          <% if current_user != nil && current_user.user? %>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <%= link_to "Favourite Movies", favourite_movies_url, :class => 'navbar-link'  %>
              </li>
            </ul>
          <% end %>


          <div class="divrightoriented">
            <% if user_signed_in? %>
              <% if current_user.admin? %> 
                <span class='fa fa-wrench'></span> 
              <% end %>
              <% if current_user.user? %> 
                <span class='fa fa-user'></span> 
              <% end %>
              (<strong><%= current_user.username %></strong>) &nbsp;
              <%= link_to 'Edit profile', edit_user_registration_path, :class => "btn btn-outline-warning minebtn btn-sm" %> &nbsp;
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "btn btn-outline-danger minebtn btn-sm"  %>
            <% else %>
              <span class='fa fa-question'></span> (guest) &nbsp;
              <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-outline-primary minebtn btn-sm"  %> &nbsp;
              <%= link_to "Login", new_user_session_path, :class => "btn btn-outline-info minebtn btn-sm"  %>
            <% end %>
          </div>
        </nav>
      <% end %>

  <!--
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
  -->

      <%= yield %>
    </div>
  </body>

  <br/>
  <br/>
  <br/>
  <br/>

  <footer class="customfooter">Contact admin at admin@kinorails.com <br> &copy; 2019</footer>
</html>

