<p id="notice"><%= notice %></p>

<% if !current_user.nil? && current_user.admin?%>
  <h1>Reservations</h1>
<%else %>
  <h1> Your reservations</h1>
<%end%>

<table>
  <thead>
    <tr>
      <% if !current_user.nil? && current_user.admin?%>
      <th class="index"><%= sort_link "user_id", "User" %></th>
      <% end %>
      <th class="index"><%= sort_link "screening_id" %></th>
      <th class="index"><%= sort_link "identifier" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
      <% if !current_user.nil? && current_user.admin?%>
        <% if reservation.user_id == NIL %>
          <td>Guest</td>
        <% else %>
          <td><%= reservation.user.username  %></td>
        <%end%>
      <% end %>
        <td><%= reservation.screening.movie.title %> </br>
            <%= "Room no.: " + reservation.screening.room.id.to_s + ", name: " + reservation.screening.room.name %> </br>
            <%= "Date: " + reservation.screening.date.strftime("%d.%m.%Y %H:%M") %></td>
        <td><%= reservation.identifier %></td>
        <% if !current_user.nil? && current_user.user? %>
        <td><%= link_to 'Show', reservation, :class => "btn btn-outline-secondary minebtn btn-sm" %></td>
        <% end %>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-danger minebtn btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>