<p id="notice"><%= notice %></p>

<% if !current_user.nil? && current_user.admin?%>
  <h1>Reservations</h1>
<%else %>
  <h1> Your reservations</h1>
<%end%>

<table>
  <thead>
    <tr>
      <% if !current_user.nil? && current_user.admin?%>
        <th>User</th>
      <% end %>
      <th>Screening</th>
      <th>Identifier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
      <% if !current_user.nil? && current_user.admin?%>
        <% if reservation.user_id == NIL %>
          <td>Guest</td>
        <% else %>
          <td><%= reservation.user.username  %></td>
        <%end%>
      <% end %>
        <td><%= reservation.screening_id %></td>
        <td><%= reservation.identifier %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>