<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <% if @reservation.user_id == NIL %>
    Guest
  <% else %>
    <%= @reservation.user.username %>
  <%end%>
</p>

<p>
  <strong>Screening:</strong>
  <%= @reservation.screening_id %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @reservation.identifier %>
</p>

<p>
  <strong> Reserved seats: </strong>
  <%= @reserved_seats.count %>
</p>

<%= link_to 'Back', reservations_path %>
