<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @reservation.user_id %>
</p>

<p>
  <strong>Screening:</strong>
  <%= @reservation.screening_id %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @reservation.identifier %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
