<%= form_with(model: favourite_movie, local: true) do |form| %>
  <% if favourite_movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(favourite_movie.errors.count, "error") %> prohibited this favourite_movie from being saved:</h2>

      <ul>
      <% favourite_movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :movie_id %>
    <%= form.number_field :movie_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
