<%= form_with(model: favourite_movie, local: true) do |form| %>
  <% if favourite_movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(favourite_movie.errors.count, "error") %> prohibited this favourite_movie from being saved:</h2>

      <ul>
      <% favourite_movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <strong> Movie title: </strong>
  <%= @movie.title %>
  </p>

  <%= form_for @favourite_movie, method: :post do |f| %>
    <%= f.hidden_field :movie_id, :value => @movie.id %>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
