<p id="notice"><%= modified_notice %></p>

<h1>Favourite Movies</h1>

<table class="table table-stripped table-hover index indexborder">
  <thead>
    <tr>
      <th class="index"><%= sort_link "user_id", "User" %></th>
      <th class="index"><%= sort_link "movie_id", "Movie" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favourite_movies.each do |favourite_movie| %>
      <tr>
        <td><%= favourite_movie.user.username %></td>
        <td><%= favourite_movie.movie.title %></td>
        <td align = "right"><%= link_to 'Destroy', favourite_movie, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-danger minebtn btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
